<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <% if(nav == true){ %>

    <div class="navbar px-[75px] flex justify-between w-full h-[60px] items-center bg-white">
        <div class="nav-left flex gap-2 w-[30%]">
            <div class="logo">
                <img class="h-[35px]" src="/images/LinkedIn_icon.svg.png" alt="">
            </div>
            <div class="search-div h-[35px] w-[80%] bg-[#edf3f8] flex items-center gap-2 px-3 rounded-sm">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input class="bg-transparent focus:outline-none" type="text" placeholder="Search">
            </div>
        </div>
        <div class="nav-right flex gap-7">
            <div class="flex flex-col gap-1 justify-center items-center">
                <i class="text-2xl text-zinc-700 fa-solid fa-house"></i>
                <p class="text-zinc-700 text-xs">Home</p>
            </div>
            <div class="flex flex-col gap-1 justify-center items-center">
                <i class="text-2xl text-zinc-700 fa-solid fa-users"></i>
                <p class="text-zinc-700 text-xs">My Network</p>
            </div>
            <div class="flex flex-col gap-1 justify-center items-center">
                <i class="text-2xl text-zinc-700 fa-solid fa-bag-shopping"></i>
                <p class="text-zinc-700 text-xs">Job</p>
            </div>
            <div class="flex flex-col gap-1 justify-center items-center ">
                <i class="text-2xl text-zinc-700 fa-solid fa-message"></i>
                <p class="text-zinc-700 text-xs">Messaging</p>
            </div>
            <div class="flex flex-col gap-1 justify-center items-center ">
                <i class="text-2xl text-zinc-700 fa-solid fa-bell"></i>
                <p class="text-zinc-700 text-xs">Notifications</p>
            </div>
            <div class="flex flex-col gap-1 justify-center items-center ">
                <img class="h-[25px] w-[25px] rounded-full object-cover object-center" src="/images/pexels-photo-1559486.webp" alt="">
                <p class="text-zinc-700 text-xs">My Profile</p>
            </div>
        </div>
    </div>
    
<% } %>